.bolinhas {
    height: 250px;
    width: 250px;
    vertical-align: middle;
    line-height: 250px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.bolinhas:hover {
    color: black !important;
    cursor: pointer;
}

.bgdiv {
    background: url("../imagens/fundo_cadastro.png") no-repeat center center;
    background-size: auto;
    color: white;
}
