body::before, html::before
{
    background-size: cover !important;
    content: " ";
    position: fixed;
    background: url('../imagens/fundo_cadastro.png') no-repeat center center;
        background-size: auto;
    will-change: transform;
    width: 100%;
    height: 100%;
}

.card, .rodape {
    background-color: rgba(245, 245, 245, .9) !important;
}