       body { background: url(../imagens/bglight.png); }
        .hero-unit { 
			background-color: #fff; 
			padding: 20px; 
			
		}
        
		#parent {
		  box-sizing: border-box;
		  width: 80%;
		  height: 50%;		  		  
		  margin-left: 10%;
		  --border: 2px solid #fa0f;
		}
		#teste{
			width: 200px;
		}

		#pe{
			
			background-color: #c8c8c8; 
			position: relative;
			bottom:0;
			left:0;
			-- border: 2px solid #faf;
			padding: 20px; 
		}

	
		.carousel-inner .carousel-item{
			height: 300px;
			width: 100%;
		}
		